<div class="container">
  <div class="row">
    <h1>Bookings I received</h1>
    <ol>
      <% @requests.each do |request| %>
        <%# if booking.product.user != current_user %>
          <div class="col-xs-12 col-sm-12">
            <!-- insert <div class="card"> -->
              <li>
                <div class="booking_card">
                  <div class="booking_card_top">
                    Status: <%= request.status %> |
                    Title: <%= request.product.title %> |
                    Location: <%= request.product.location %> |
                    Client: <%= request.user.email %> |
                    Category: <%= request.product.category %>
                  </div>
                  <div class="booking_card_bottom">
                    Start: <%= request.starts_at.strftime("%d %B %Y %H:%M") %> |
                    End: <%= request.ends_at.strftime("%d %B %Y %H:%M") %> |
                    Duration: <%= (request.ends_at - request.starts_at)/1.day %> days |
                    Price per day: <%= request.product.price_per_day %> € |
                    Booking price: <%= (((request.ends_at - request.starts_at)/1.day) * request.product.price_per_day).round %> €
                  </div>
                </div>
                <div>
                  <%= link_to "See details", '#' %> |
                  <%= link_to "Accept booking", '#' %> |
                  <%= link_to "Reject booking", '#' %>
                </div>
              </li>
          </div>
        <%# end %>
      <% end %>
    </ol>
  </div>
</div>
