<div class="container">
  <h1>My Dashboard</h1>
  <ul class="nav nav-tabs">
    <li><a class="tab tab-active" data-toggle="tab2" >My bookings</a></li>
    <li><a class="tab" data-toggle="tab1">My products</a></li>
  </ul>

  <div class="tab-content hidden" data-toggle="tab2">
    <div id="my_products">
      <div class="row">
        <% @requests.each do |request| %>
        <div class="col-xs-12 col-sm-12">
          <div class="message">
            <div class="message-name">
              <h3><%= request.product.address %></h3>
              <p><%= request.product.category %></p>
            </div>
            <div class="message-body">
              <h2><%= request.product.title %></h2>
              <p><%= request.starts_at.strftime("%d %B %Y %H:%M") %> --
              <%= request.ends_at.strftime("%d %B %Y %H:%M") %>
              </p>
            </div>
            <div class="message-info">
              <%= (request.ends_at - request.starts_at)/1.day %> days
              <%= request.product.price_per_day %> €
            </div>
            <div class="message-status">
              <%= request.status %>
              <p><%= (((request.ends_at - request.starts_at)/1.day) * request.product.price_per_day).round %> €</p>
            </div>
          </div>
          <!-- # Accept -->
          <%= link_to "Accept booking", product_booking_path(request.product.id, request.id, type: "Accepted"), method: 'put' %> |
          <!-- # Decline -->
          <%= link_to "Reject booking", product_booking_path(request.product.id, request.id, type: "Rejected"), method: 'put' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tab-content" data-toggle="tab1">
    <div id="my_bookings" >
      <% @bookings.each do |booking| %>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="message">
            <div class="message-name">
              <h3><%= booking.product.address %></h3>
              <p><%= booking.product.category %></p>
            </div>
            <div class="message-body">
              <h2><%= booking.product.title %></h2>
              <p><%= booking.starts_at.strftime("%d %B %Y %H:%M") %> --
              <%= booking.ends_at.strftime("%d %B %Y %H:%M") %>
              </p>
            </div>
            <div class="message-info">
              <%= (booking.ends_at - booking.starts_at)/1.day %> days
              <%= booking.product.price_per_day %> €
            </div>
            <div class="message-status">
              <%= booking.status %>
              <p><%= (((booking.ends_at - booking.starts_at)/1.day) * booking.product.price_per_day).round %> €</p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
