<div class="container">
  <div class="row">
    <h1>Bookings I received</h1>
    <ol>
      <% @requests.each do |request| %>
        <div class="col-xs-12 col-sm-12">
          <!-- insert <div class="card"> -->
            <li>
              <div class="booking_card">
                <div class="booking_card_top">
                  Status: <%= request.status %> |
                  Title: <%= request.product.title %> |
                  Address: <%= request.product.address %> |
                  Client: <%= request.user.email %> |
                  Category: <%= request.product.category %>
                </div>
                <div class="booking_card_bottom">
                  Start: <%= request.starts_at.strftime("%d %B %Y %H:%M") %> |
                  End: <%= request.ends_at.strftime("%d %B %Y %H:%M") %> |
                  Duration: <%= (request.ends_at - request.starts_at)/1.day %> days |
                  Price per day: <%= request.product.price_per_day %> € |
                  Booking price: <%= (((request.ends_at - request.starts_at)/1.day) * request.product.price_per_day).round %> €
                </div>
              </div>
              <div>
                <%= link_to "Accept booking", product_booking_path(request.product.id, request.id, type: "accepted"), method: 'put' %> |
                <%= link_to "Reject booking", product_booking_path(request.product.id, request.id, type: "rejected"), method: 'put' %>
                <%#= link_to "Accept booking", product_booking_path(booking.product.id, booking.id, type: "accepted"), method: 'put' %> |
                <%#= link_to "Reject booking", product_booking_path(booking.product.id, booking.id, type: "rejected"), method: 'put' %>
              </div>
            </li>
        </div>
      <% end %>
    </ol>
  </div>
</div>
